<section class="footer_section">
  <div nz-row>
    <div nz-col nzSpan="8" class="footer_paragraph">
      <h1>Divine Carry</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga qui
        voluptatum numquam facilis dignissimos iste nostrum saepe dolorum in aut
        doloribus maxime beatae, quae cum recusandae vero sint libero. Dolorem?
      </p>
      <div class="footer_payment_card">
        <img src="assets\img\master-logo.png" alt="" />
        <img src="assets\img\visa-logo.png" alt="" />
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="4" class="footer_links">
      <strong>QUICK LINKS</strong>
      <ul>
        <li>About</li>
        <li>Blogs</li>
        <li>Contact</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div nz-col nzSpan="4" class="footer_links">
      <strong>ACCOUNT</strong>
      <ul>
        <li>My Account</li>
        <li>Order Tracking</li>
        <li>Checkout</li>
        <li>Whishlist</li>
      </ul>
    </div>
    <div nz-col nzSpan="6" class="footer_newsletter">
      <strong>NEWSLETTER</strong>
      <div class="footer_newsletter_input">
        <input type="email" placeholder="Email" />
        <button>Subscribe</button>
      </div>
      <!-- <hr /> -->
      <ul>
        <li><span nz-icon nzType="facebook" nzTheme="outline"></span></li>
        <li><span nz-icon nzType="instagram" nzTheme="outline"></span></li>
        <li><span nz-icon nzType="mail" nzTheme="outline"></span></li>
        <li><span nz-icon nzType="whats-app" nzTheme="outline"></span></li>
      </ul>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <hr />
      <div class="footer_copyright">
        <p>Copyright © 2024 All rights reserved</p>
        <nz-divider nzType="vertical"></nz-divider>
        <p>Divine Carry</p>
      </div>
    </div>
  </div>
</section>
