<nav appScroll [ngClass]="{ scrolled: scrolled }">
  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col nzSpan="22">
      <div class="nav_left">
        <h1>Divine Carry</h1>
        <!-- <ul nz-menu nzMode="horizontal">
          <li nz-menu-item nzSelected>
            <span nz-icon nzType="home"></span>
            Home
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="shopping"></span>
            Category
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            About
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="phone"></span>
            Contact
          </li>
        </ul> -->
      </div>
    </div>

    <div nz-col nzSpan="2">
      <div class="nav_right">
        <nz-badge nzDot><span nz-icon nzType="heart"></span></nz-badge>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-badge nzDot><span nz-icon nzType="shopping-cart"></span></nz-badge>
        <nz-divider nzType="vertical"></nz-divider>
        <span nz-icon nzType="user" nzTheme="outline"></span>
      </div>
    </div>
  </div>
</nav>
